<li>
  A fine was given at <%= parking_violation.location %>
  on <%= parking_violation.issue_date_time %>
  for the following reason: <%= parking_violation.description %>. 
  The person was fined $<%= parking_violation.fine %>.
</li>
